
JIRA_API_TOKEN="JIRA_API_TOKEN"
JIRA_USER_EMAIL="JIRA_USER_EMAIL"
JIRA_CONFIG=`{
    "jira": {
        "boards": ["MP"],
        "genericTickets": [
            {"key": "MP-2126", "summary": "[MgS-Hours] Others MgS"},
            {"key": "MP-2980", "summary": "[MgS-Hours] Others Apply hours"}
        ],
        "projectComponents": [
            {"name": "Tishman Studio"},
            {"name": "MgS-Black & Veatch"},
            {"name": "MgS-Star Trek"},
            {"name": "Tishman-Corporate"},
            {"name": "Kraft Heinz - AFH"},
            {"name": "MgS Hours - Others MgS (NB)"},
            {"name": "MgS Hours - Others Apply (NB)"}
        ]
    }
}`
SLACK_BOT_TOKEN='SLACK_BOT_TOKEN'
SLACK_SIGNING_SECRET='SLACK_SIGNING_SECRET'
USERS=`{
    "user@example.com": "USER_TOKEN"
}`