# Copy this file to .dev.vars and fill in your values.
# These are used by `wrangler dev` for local development.

JIRA_API_TOKEN=your_jira_api_token_here
JIRA_USER_EMAIL=your.email@company.com
JIRA_CONFIG=`{
    "jira": {
        "boards": ["MP"],
        "genericTickets": [
            {"key": "MP-2126", "summary": "[MgS-Hours] Others MgS"},
            {"key": "MP-2980", "summary": "[MgS-Hours] Others Apply hours"}
        ],
        "projectComponents": [
            {"name": "Tishman Studio"},
            {"name": "MgS-Black & Veatch"},
            {"name": "MgS-Star Trek"},
            {"name": "Tishman-Corporate"},
            {"name": "Kraft Heinz - AFH"},
            {"name": "MgS Hours - Others MgS (NB)"},
            {"name": "MgS Hours - Others Apply (NB)"}
        ]
    }
}`
SLACK_BOT_TOKEN=xoxb-your-slack-bot-token
SLACK_SIGNING_SECRET=your_slack_signing_secret
USERS=comma_separated_users_emails
